{% extends "layout.html" %}

{% block content %}
<h1>Best Places to Visit in the U.S.</h1>
  <div class="container">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Ranking</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Los Angeles</td>
      <td>California</td>
      <td>$$$</td>
    </tr>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Miami</td>
      <td>Florida</td>
      <td>$$$</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Dallas</td>
        <td>Texas</td>
        <td>$$</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>San Francisco</td>
        <td>California</td>
        <td>$$$</td>
    <tr>
        <th scope="row">5</th>
        <td>Nashville</td>
        <td>Tennessee</td>
        <td>$</td>
    </tbody>
  </table>

<div class="main">
   <h2>About Los Angeles</h2>
    <p>Los Angeles, California is a beautiful place to visit. The city has great weather, beautiful beaches, and many activities for tourists. If you would like to learn more information about the city click
        this <a href="https://www.lacity.org"> link </a>.</p>

<h2>About Miami</h2>
    <p>Similar to Los Angeles, Miami, Florida is a very exciting place to visit. The main attraction for people visiting Miami is the
    hot weather and beach. </p>

    <h2>About Dallas</h2>
    <p>Dallas, Texas has very nice restaurants, especially if you're looking for bbq.</p>
</div>
  </div>

{% endblock %}
